<launch>
  <!-- vim: set ft=xml noet : -->
  <!-- example launch script for PX4 based FCU's -->

  <!--arg name="fcu_url" default="/dev/ttyACM0:921600" />
  <arg name="gcs_url" default="udp://@192.168.1.184" />
  <arg name="tgt_system" default="1" />
  <arg name="tgt_component" default="1" />
  <arg name="log_output" default="screen" />
  <arg name="fcu_protocol" default="v2.0" />
  <arg name="respawn_mavros" default="false" />
  <include file="$(find mavros)/launch/node.launch">
     <arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
     <arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />
     <arg name="fcu_url" value="$(arg fcu_url)" />
     <arg name="gcs_url" value="$(arg gcs_url)" />
     <arg name="tgt_system" value="$(arg tgt_system)" />
     <arg name="tgt_component" value="$(arg tgt_component)" />
     <arg name="log_output" value="$(arg log_output)" />
     <arg name="fcu_protocol" value="$(arg fcu_protocol)" />
     <arg name="respawn_mavros" default="$(arg respawn_mavros)" />
     
  </include-->

  <arg name="world_name" default="basic"/>
  <arg name="enable_logging" default="false"/>

  <group ns="diy2">
      <param name="uav_name" value="diy2"/>
      <param name="number" value="2"/>
      <param name="state_estimator_frequency" value="30.0"/>
      <param name="px4imu_frequency" value="140.0"/>
      <node pkg="geometric_controller" name="sendcommandtopx4" type="px4_offboard_control.py" respawn="true" output="screen"/>
      <node pkg="geometric_controller" name="Trajectory" type="trajectory_R1.py" respawn="true"/>
      <!--node pkg="geometric_controller" name="vio_to_cog" type="vio_to_cog.py" respawn="true"/-->
      <!--node pkg="geometric_controller" name="vicon_odom" type="odom_to_px4.py" respawn="true"/-->

      <!--node pkg="geometric_controller" name="fast_propagate" type="fast_propagate.py" respawn="true"/-->      
  </group>

  <!--node pkg="mavros" type="mavcmd" name="trigger_camera" args="trigger_control"/-->
</launch>
